<div class="row">
    <div class="col-8">
        <button type="submit" class="btn btn-primary btn-sm mr-2" (click)="onSave()">
            <fa-icon icon="save"></fa-icon> Save
        </button>
        <button type="button" class="btn btn-light btn-sm text-dark" (click)="onClose()">
            <fa-icon icon="times"></fa-icon> Close
        </button>
    </div>
    <div class="col-4 text-right">
        <button type="reset" class="btn btn-danger btn-sm" (click)="onReset()">
            <fa-icon icon="redo"></fa-icon> Reset
        </button>
    </div>
</div>