<table class="table table-sm table-striped" *ngIf="list && list.length > 0">
    <thead>
        <tr>
            <th>Field name</th>
            <th>Field code</th>
            <th width="1%">&nbsp; </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ff of list;let i = index">
            <td>
                <input type="text" class="form-control form-control-sm" placeholder="Key" [(ngModel)]="ff.name">
            </td>
            <td>
                <input type="text" class="form-control form-control-sm" placeholder="Value" [(ngModel)]="ff.code">
            </td>
            <td>
                <a (click)="remove(i)" class="text-danger">
                    <fa-icon icon="times"></fa-icon>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<a (click)="add()" class="btn btn-sm btn-link text-primary">
    <fa-icon icon="plus"></fa-icon> add field
</a>