<div class="pane">
    <div class="pane-body">
        <div class="container">
            <h3>Connection details</h3>
            <form>
                <div class="alert bg-light mb-3">
                    <div class="form-group">
                        <label for="jiraserver">Server url</label>
                        <input type="url" class="form-control form-control-sm" id="serverUrl" name="serverUrl"
                            aria-describedby="jiraserver" placeholder="Jira server url"
                            [(ngModel)]="connectionDetails.serverUrl" (keydown.control.enter)="onSave()">
                        <small class="text-muted">eg. https://jira.<i>yourcompany</i>.com</small>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control form-control-sm" id="username" name="username"
                            placeholder="username" [(ngModel)]="connectionDetails.username"
                            (keydown.control.enter)="onSave()">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control form-control-sm" id="password" name="password"
                            placeholder="Password" [(ngModel)]="connectionDetails.password"
                            (keydown.control.enter)="onSave()">
                    </div>
                    <div class="form-group form-check" *ngIf="allowOfflineMode">
                        <input type="checkbox" class="form-check-input" id="offlineMode" name="offlineMode"
                            [(ngModel)]="connectionDetails.offlineMode">
                        <label class="form-check-label" for="offlineMode">Offline mode</label>
                    </div>
                </div>
                <hr>
                <app-button-panel (save)="onSave()" (close)="onClose()" (reset)="onReset()"></app-button-panel>
            </form>
        </div>
    </div>
</div>