<div class="pane">
    <div class="pane-body pt-0">
        <div class="container">
            <h4>Custom fields</h4>
            <hr>

            <div class="mb-3">
                <button class="btn btn-sm btn-link text-muted float-right" *ngIf="customFieldMaping.hierarchy.support"
                    (click)="customFieldMaping.hierarchy.hide = !customFieldMaping.hierarchy.hide">
                    <fa-icon [icon]="customFieldMaping.hierarchy.hide? 'plus' : 'minus'"></fa-icon>
                </button>
                <input type="checkbox" class="mr-2" id="hierarchy" name="hierarchy"
                    [(ngModel)]="customFieldMaping.hierarchy.support">
                <label for="hierarchy">Project support Hierarchy</label>
                <div *ngIf="customFieldMaping.hierarchy.support && !customFieldMaping.hierarchy.hide"
                    class="alert bg-light pt-0 pb-0">
                    <app-mapping-list [list]="customFieldMaping.hierarchy.list"></app-mapping-list>
                </div>
            </div>

            <div>
                <button class="btn btn-sm btn-link text-muted float-right" *ngIf="customFieldMaping.epicLink.support"
                    (click)="customFieldMaping.epicLink.hide = !customFieldMaping.epicLink.hide">
                    <fa-icon [icon]="customFieldMaping.epicLink.hide? 'plus' : 'minus'"></fa-icon>
                </button>
                <input type="checkbox" class="mr-2" id="epicLink" name="epicLink"
                    [(ngModel)]="customFieldMaping.epicLink.support">
                <label for="epicLink">Configure epic links</label>
                <div *ngIf="customFieldMaping.epicLink.support && !customFieldMaping.epicLink.hide"
                    class="alert bg-light mb-3 pt-0 pb-0">

                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                                <th>Field name</th>
                                <th>Field code</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" class="form-control form-control-sm" placeholder="Key"
                                        [(ngModel)]="customFieldMaping.epicLink.name">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" placeholder="Value"
                                        [(ngModel)]="customFieldMaping.epicLink.code">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <h6 class="mt-4">Manage Issuetype specific mapping</h6>
            <div *ngFor="let issuetype of customFieldMaping.issueTypes;let i = index"
                class="alert bg-light mb-2 pb-0 pr-0">

                <button class="btn btn-sm btn-link text-muted float-right" (click)="issuetype.hide = !issuetype.hide">
                    <fa-icon [icon]="issuetype.hide? 'plus' : 'minus'"></fa-icon>
                </button>


                <div class="input-group input-group-sm mb-1 w-50">
                    <input type="text" placeholder="issuetype" class="form-control" [(ngModel)]="issuetype.name">
                    <div class="input-group-append">
                        <button class="btn btn-outline-danger border" type="button"
                            (click)="removeIssueTypeConfiguration(i)">
                            <fa-icon icon="times"></fa-icon>
                        </button>
                    </div>
                </div>

                <div class="ml-4 mr-2" *ngIf="!issuetype.hide">
                    <app-mapping-list [list]="issuetype.list"></app-mapping-list>
                </div>
            </div>

            <button class="btn btn-sm btn-outline-primary" (click)="addIssueTypeConfiguration()">
                <fa-icon icon="plus"></fa-icon> Add issuetype
            </button>
            <!-- <div>
                <input type="checkbox" class="mr-2" id="testscript" name="testscript"
                    [(ngModel)]="customFieldMaping.testingFields.support">
                <label for="testscript">Setup testing fields</label>
                <div *ngIf="customFieldMaping.testingFields.support" class="alert bg-light mb-3 pt-0 pb-0">
                    <app-mapping-list [list]="customFieldMaping.testingFields.list"></app-mapping-list>
                </div>
            </div>

            <div>
                <input type="checkbox" class="mr-2" id="customfields" name="customfields"
                    [(ngModel)]="customFieldMaping.customFields.support">
                <label>Setup custom fields</label>
                <div *ngIf="customFieldMaping.customFields.support" class="alert bg-light mb-3 pt-0 pb-0">
                    <app-mapping-list [list]="customFieldMaping.customFields.list"></app-mapping-list>
                </div>
            </div> -->
            <hr class="mt-5">
            <app-button-panel (save)="onSave()" (close)="onClose()" (reset)="onReset()"></app-button-panel>
        </div>
    </div>
</div>