<div class="pane">
    <div class="pane-body">
        <div class="container">
            <h4>Organization setup</h4>
            <div class="alert bg-light mb-3">

                <div class="form-group">
                    <label for="name">Organization name</label>
                    <input type="text" class="form-control form-control-lg" id="name" name="name"
                        placeholder="organization name" [(ngModel)]="organization.name">
                </div>
                <div class="form-group">
                    <label for="name">Purpose</label>
                    <textarea class="form-control" rows="5" [(ngModel)]="organization.purpose"></textarea>
                </div>
            </div>
            <hr>
            <app-button-panel (save)="onSave()" (close)="onClose()" (reset)="onReset()"></app-button-panel>
        </div>
    </div>
</div>