<nav class="navbar navbar-expand-lg navbar-dark"
  [ngClass]="{'bg-primary': !connectionDetails || !connectionDetails.offlineMode, 'bg-warning': connectionDetails && connectionDetails.offlineMode}">
  <a class="navbar-brand" routerLink="/about">
    <fa-icon icon="sitemap"></fa-icon> <b class="ml-1">Purpose</b>
  </a>

  <div class="form-inline mr-auto" *ngIf="connectionDetails">
    <div style="width:200px">
      <app-issue-entry></app-issue-entry>
    </div>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item text-white" *ngIf="connectionDetails">
      <fa-icon icon="user"></fa-icon>
      <span class="ml-1 mr-2">{{connectionDetails.displayName}}</span>
      <p-splitButton icon="pi pi-cog" style="margin-top: 1pt;" [model]="menulist"></p-splitButton>
    </li>
    <li class="nav-item " *ngIf="!connectionDetails">
      <a class="nav-link text-white" (click)="showConnectionDetailsSetup = true">
        <fa-icon icon="cog" size="lg"></fa-icon>
      </a>
    </li>
  </ul>
</nav>

<ngx-loading-bar color="#FF8000" height="4pt" [includeSpinner]="false"></ngx-loading-bar>

<p-toast position="bottom-right"></p-toast>

<p-sidebar [(visible)]="showConnectionDetailsSetup" styleClass="ui-sidebar-md" position="right">
  <app-connection-details (close)="connectionDetailsSetupCompleted()"></app-connection-details>
</p-sidebar>
<p-sidebar [(visible)]="showCustomFieldSetup" styleClass="ui-sidebar-md" position="right">
  <app-custom-fields (close)="customFieldSetupCompleted()"></app-custom-fields>
</p-sidebar>

<router-outlet> </router-outlet>

<app-footer></app-footer>