<nav class="navbar navbar-expand-lg navbar-dark"
  [ngClass]="{'bg-primary': !connectionDetails || !connectionDetails.offlineMode, 'bg-warning': connectionDetails && connectionDetails.offlineMode}">
  <a class="navbar-brand" href="#">
    <fa-icon icon="binoculars"></fa-icon> <b class="ml-1">Purpose</b>
  </a>

  <div class="form-inline mr-auto" *ngIf="connectionDetails">
    <div style="width:200px">
      <app-issue-entry></app-issue-entry>
    </div>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link text-white" title="Download JSON" [href]="downloadJsonHref"
        download="storypurpose-config.json">
        <fa-icon icon="download"></fa-icon>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link text-white" (click)="showCustomFieldSetup = true">
        <fa-icon icon="wrench" size="lg"></fa-icon>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link text-white" (click)="showConnectionDetailsSetup = true">
        <fa-icon icon="cog" size="lg"></fa-icon>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" [routerLink]="['/about']">
        <fa-icon icon="question-circle" size="lg"></fa-icon>
      </a>
    </li>
  </ul>
</nav>

<ngx-loading-bar color="#FF8000" height="4pt" [includeSpinner]="false"></ngx-loading-bar>

<p-toast position="bottom-right"></p-toast>

<p-sidebar [(visible)]="showConnectionDetailsSetup" styleClass="ui-sidebar-md" position="right">
  <app-connection-details (close)="connectionDetailsSetupCompleted()"></app-connection-details>
</p-sidebar>
<p-sidebar [(visible)]="showCustomFieldSetup" styleClass="ui-sidebar-md" position="right">
  <app-custom-fields (close)="customFieldSetupCompleted()"></app-custom-fields>
</p-sidebar>

<router-outlet> </router-outlet>

<app-footer></app-footer>