<div class="main-container">
    <div class="body-container">
        <as-split direction="horizontal">
            <as-split-area size="30" class="split-area bg-light border-right">
                <div *ngIf="treeNodes">
                    <p-contextMenu #cm [model]="menulist" appendTo="body"></p-contextMenu>
                    <p-tree [value]="treeNodes" selectionMode="single" (onNodeExpand)="loadNode($event)"
                        [(selection)]="selectedNode" (onNodeSelect)="nodeSelected($event)" [contextMenu]="cm"
                        (onNodeContextMenuSelect)="nodeContextMenuSelect($event.node, cm)">
                        <ng-template let-node pTemplate="Epic">
                            <app-node-template [node]="node" icon="book" badge="badge-primary"></app-node-template>
                        </ng-template>
                        <ng-template let-node pTemplate="Organization">
                            <h3 class="m-0 font-weight-light">{{node.label}}</h3>
                        </ng-template>
                        <ng-template let-node pTemplate="Project">
                            <h4 class="m-0 font-weight-light">{{node.label}}</h4>
                        </ng-template>
                        <ng-template let-node pTemplate="Initiative">
                            <h5 class="m-0 font-weight-light">{{node.label}}</h5>
                        </ng-template>
                        <ng-template let-node pTemplate="Story">
                            <app-node-template [node]="node" icon="file-alt" badge="badge-info"></app-node-template>
                        </ng-template>
                        <ng-template let-node pTemplate="Test Suite">
                            <app-node-template [node]="node" icon="flask" badge="badge-warning"></app-node-template>
                        </ng-template>
                        <ng-template let-node pTemplate="ST-Test Case">
                            <app-node-template [node]="node" [icon]="['far','bookmark']" badge="badge-success">
                            </app-node-template>
                        </ng-template>
                        <ng-template let-node pTemplate="Task">
                            <app-node-template [node]="node" icon="check" badge="badge-success"></app-node-template>
                        </ng-template>
                    </p-tree>
                </div>
            </as-split-area>
            <as-split-area size="70" class="split-area">
                <div class="sticky-title" *ngIf="selectedIssue">
                    <div class="btn-group btn-group-sm float-right">
                        <a class="btn btn-link" *ngIf="canTrackProgress(selectedIssue)" routerLink="sub">
                            <fa-icon icon="tasks"></fa-icon> Details
                        </a>

                        <a *ngIf="connectionDetails" class="btn btn-link" target="_blank"
                            href="{{connectionDetails.serverUrl}}/browse/{{selectedIssue.key}}">
                            <fa-icon [icon]="['fab','jira']"></fa-icon> Jira
                        </a>

                    </div>
                    <h3 class="font-weight-light mb-3">{{selectedIssue.label}}</h3>
                </div>
                <div class="p-3">
                    <router-outlet></router-outlet>
                </div>
            </as-split-area>
        </as-split>
    </div>
</div>
<p-sidebar [(visible)]="showDetails" styleClass="ui-sidebar-lg" position="right">
    <app-sub-details [issue]="selectedIssue"></app-sub-details>
</p-sidebar>