<div class=" input-group">
  <input type="text" class="form-control rounded-0" name="issueByKeyId" [(ngModel)]="issue" autofocus
    placeholder="Jira issue key" (keydown.enter)="navigateTo(issue)" />
  <div class="input-group-append">
    <button [disabled]="!canNavigate()" class="btn btn-primary border rounded-0" type="button" (click)="navigateTo(issue)">
      <fa-icon icon="angle-right"></fa-icon>
    </button>
  </div>
</div>

<!-- <div class="ml-2 input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Title</span>
    </div>
    <input type="text" class="form-control" name="issueByTitle" [(ngModel)]="issue" placeholder="Issue title to search" />
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" (click)="search(issue)">
        <fa-icon icon="search"></fa-icon>
      </button>
    </div>
  </div> -->