<div *ngIf="purpose && purpose.length > 0" class="mb-5">

    <button class="btn btn-link text-primary btn-sm" *ngIf="!organizationPurpose"
        (click)="showOrganizationSetup = true">
        <fa-icon icon="plus" class="font-weight-light"></fa-icon> add organization purpose
    </button>

    <div class="list-group list-group-flush">
        <div class="list-group-item pb-0 pt-1" *ngFor="let item of purpose">
            <div style="overflow:auto">
                <div class="badge badge-secondary mr-2">{{item.type}} purpose</div>
                <h5 class="font-weight-light mb-0">{{item.title}}
                    <button class="btn btn-link btn-sm text-muted ml-2" *ngIf="item.editable" (click)="onEdit(item)">
                        <fa-icon icon="pencil-alt"></fa-icon>
                    </button>
                </h5>
                <div>
                    <ngx-md>
                        {{item.purpose}}
                    </ngx-md>
                </div>
            </div>
        </div>
    </div>
</div>
<p-sidebar [(visible)]="showOrganizationSetup" styleClass="ui-sidebar-md" position="right">
    <app-organization (close)="setupCompleted($event)"></app-organization>
</p-sidebar>

<p-sidebar [(visible)]="showHierarchyFieldSetup" styleClass="ui-sidebar-md" position="right">
    <app-hierarchy-field [hierarchyField]="hierarchyFieldPurpose" (close)="setupCompleted($event)"></app-hierarchy-field>
</p-sidebar>