<div *ngIf="issue">
    <h4>
        <span *ngIf="testcases && testcases.length > 0" class="text-muted">
            <small>{{testcases.length}} {{childIssueType + (testcases.length > 1 ? 's' : '')}}</small>
            <button *ngIf="hasExtendedFields" (click)="hideExtendedFields = !hideExtendedFields"
                class="btn btn-link ml-2" title="Show/hide details">
                <fa-icon icon="ellipsis-h"></fa-icon>
            </button>

        </span>
    </h4>

    <div *ngIf="testcases && testcases.length > 0">
        <div class="alert bg-light" *ngIf="summary">
            {{summary|json}}
        </div>

        <table class="table">
            <tr *ngFor="let record of testcases">
                <td width="5%" style="white-space: nowrap;" class="text-muted small">{{record.key}}</td>
                <td>
                    {{record.title}}

                    <div class="alert mt-2 p-0 rounded-0 border-0"
                        *ngIf="!hideExtendedFields && record.extendedFields && record.extendedFields.length > 0">
                        <table class="table table-small small p-0 m-0 border-0 bg-light">
                            <tr *ngFor="let ef of record.extendedFields">
                                <td class="p-1 text-nowrap text-muted" width="10%">{{ef.name}}:</td>
                                <td class="p-1 text-dark">{{ef.value}}</td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td width="10%" style="white-space: nowrap;">
                    <span class="pl-1 pr-1 border rounded bg-light small">{{record.status}}</span>
                </td>
            </tr>
        </table>
    </div>

    <div class="alert alert-warning" *ngIf="testcases && testcases.length === 0">
        No detail records found.
    </div>
</div>