<div *ngIf="!(connectionDetails && connectionDetails.username && connectionDetails.password)"
    class="center-text p-3 bg-light">
    <b>Graphical representation of jira Issues</b>

    <div class="alert bg-white m-3">

        <div class="mb-2">
            <fa-icon icon="exclamation-triangle"></fa-icon>
            Connection details have not been set.
        </div>
        <div *ngIf="connectionDetails && !(connectionDetails.username && connectionDetails.password)">
            <a class="btn btn-sm btn-primary text-white mt-2" (click)="onShowSetup()">
                Setup credentials now <fa-icon icon="chevron-right"></fa-icon>
            </a>
        </div>

        <div *ngIf="!connectionDetails">
            <a class="btn btn-primary btn-sm text-white mr-2" style="margin-top: -18pt;" (click)="onShowSetup()">
                Manual setup <fa-icon icon="chevron-right"></fa-icon>
            </a>
            <p-fileUpload #configUploader name="myfile[]" customUpload="true"
                (uploadHandler)="handleConfigFileUpload($event, configUploader)" maxFileSize="10000" mode="basic"
                accept="application/json" chooseLabel="Import" styleClass="ui-button-secondary"
                [auto]="true"></p-fileUpload>

        </div>

    </div>
    <div class="text-left">
        <ol>
            <li>Setup the jira connection details</li>
            <li>Enter the Jira issue key</li>
            <li>Track purpose of issue</li>
        </ol>
    </div>
</div>

<div *ngIf="connectionDetails && connectionDetails.username && connectionDetails.password">
    <router-outlet></router-outlet>
</div>