<h3>Connection details</h3>
<hr>
<div class="container">
    <form>
        <div class="form-group">
            <label for="jiraserver">Server url</label>
            <input type="url" class="form-control" id="serverUrl" name="serverUrl" aria-describedby="jiraserver"
                placeholder="Jira server url" [(ngModel)]="connectionDetails.serverUrl">
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="username"
                [(ngModel)]="connectionDetails.username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                [(ngModel)]="connectionDetails.password">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="offlineMode" name="offlineMode"
                [(ngModel)]="connectionDetails.offlineMode">
            <label class="form-check-label" for="offlineMode">Offline mode</label>
        </div>
        <button type="submit" class="btn btn-primary mr-2" (click)="onSave()">Save changes</button>
        <button type="button" class="btn btn-secondary" (click)="onClose()">Close</button>
    </form>
</div>