/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";

a {
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .app-container {
    margin-top: 100pt;
  }
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-color: #999;
  border-radius: 4pt;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body .ui-tree {
  border-width: 0;
  width: 100%;
  background-color: inherit !important;
  padding: 0;
}
.ui-tree .ui-tree-container {
  white-space: normal !important;
}
.custom-shadow {
  box-shadow: 0 0 6px #bbb;
  border: 1px solid #ccc;
}

body .custom-node {
  width: 300px;
  background-color: #fff;
  padding: 5pt;
  box-shadow: -1px 2px 3px #999;
  border-radius: 2px;
}

body .ui-tree.ui-tree-horizontal .ui-treenode .ui-treenode-content.ui-state-highlight .custom-node,
.ui-treenode-content-selected .custom-node {
  background-color: inherit;
  color: inherit;
  box-shadow: none;
  border-width: 0;
}
.ui-treenode-content {
  box-shadow: #ccc;
}
body .ui-tree.ui-tree-horizontal .ui-treenode .ui-treenode-content {
  border-width: 0;
}
body .ui-sidebar {
  padding-left: 0;
}
.pane {
  position: absolute;
  top: 16pt;
  height: calc(100% - 20pt);
  width: 100%;
  overflow: hidden;
}

.pane-body {
  height: 100%;
  position: absolute;
  width: 100%;
  margin: 0;
  overflow: auto;
  padding: 8pt;
}

.main-container {
  height: 100%;
  overflow: hidden;
}
.body-container {
  position: absolute;
  width: 100%;
  height: calc(100% - 30pt);
  overflow: hidden;
}
.footer-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 30pt;
  overflow: hidden;  
}

.as-split-gutter {
  background-color: transparent !important;
  flex-basis: 8px !important;
}

.split-area {
  height: calc(100% - 30pt) !important;
  overflow: auto !important;
}

.center-text {
  position: fixed;
  box-shadow: 0 0 6px #bbb;
  width: 400px;
  text-align: center;
  top: 30%;
  left: 50%;
  margin-left: -200px;
}

.center-text-sm {
  top: 15% !important;
}

.form-control:focus {
  box-shadow: none;
}

body .ui-toast .ui-toast-message {
  box-shadow: 0 0 6px 0 #888;
}

body .ui-toast .ui-toast-message.ui-toast-message-error {
  background-color: #666;
  color: #fff;
}
.navbar {
  padding: 0 8pt;
}

.sticky-title {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: #fff;
  box-shadow: -1px 2px 4px #ccc;
}
